<!DOCTYPE html>
<html>
  <head>
    <title>MvcExercise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'administration', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="d-flex">
    
        <%= render partial: "layouts/administration/sidebar" %>

        <div class="main">
      
          <%= render "layouts/shared/flash_messages" %>

          <main class="content">
            <div class="container-fluid p-0">
              <%= yield %>
            </div>
          </main>

        </div>

      </div>
    </div>
  </body>
</html>
